{% extends "_layout2" %}

{% block content %}
    <section class="article-details">
       <img src="{{ entry.bannerImage.one().url('bannerImage') }}" alt="{{ entry.title }}">
        <h2>{{entry.title}}</h2>
        <p>Nationality: {{entry.nationality}}</p>
        
        
       
      
    </section>
{% endblock %}
