{% extends "_layout" %}

{% block content %}
<section class="mus">
        <h1>Albums</h1>
    </section>
    <section class="music-section">
        {% set entries = craft.entries().section('album').limit(3) %}
        
        {% for entry in entries %}
            <article class="Mu">
                <div>
                    <img src="{{ entry.bannerImage.one().url('bannerImage') }}" alt="{{ entry.title }}">
                    <h2><a>{{ entry.title }}</a></h2>
                    <a href="{{ entry.url }}">Explore</a>
                </div>
            </article>
        {% endfor %}
        
       
    </section>
{% endblock %}
