{% extends "_layout" %}

{% block content %}
    <section class="article-details">
       
        <h2>{{entry.title}}</h2>
       
      
    </section>
{% endblock %}

    </section>
     <footer>@Copyright2023 WESHMusic</footer>
</body>




</html>
